/**{
-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
}*/

/****************************** GLOBAL *************************/
body{
	font-size:13px;
	color: #000000;
}



section{
	display:block;
	
	
	margin:0px;
	padding:0px;
	
}
.container{
max-width:1064px;
max-width:100%;

}
.main-wrapper{
	height: auto;
	min-height: 100%;
	position: relative;
	max-width:1650px;
	/*overflow:hidden;*/
	height:100%;
}

.wrapper{
	width:100%;
	float:left;
}

.overflowhide{
	overflow:hidden;
}


/************************* NAV *****************************/
.navigation{
	float: left;
	position: relative;
	padding-top: 10px;
	z-index: 4;
	width:282px;
	display:inline-block;
	min-height:100%;
	height:100%;
}

.logo{
	display:inline-block;
	padding:20px 0px;
	text-align:center;
	min-width:100%;
	text-transform:uppercase;
	font-size:26px;
	font-weight:700;
}
.logo:hover{
	color:#E67E22;
	text-decoration:none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 0px rgba(0, 0, 0, 1);
}

div.navbar {
    background: transparent;
}

.navbar .nav{
	width:100%;
	margin-bottom:30px;
	
}
.navbar .nav li{
	position:relative;
	text-align:center;
	font-size:14px;
	text-transform:uppercase;
	border-bottom:1px solid rgba(0,0,0, 0.25);
	/*float:none;*/
	width:100%;
	
	
}
.navbar .nav li:first-child{
	border-top:1px solid rgba(0,0,0, 0.2);
}
.navbar .nav > li > a, .navbar .nav > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background:none;
	background-color:none;
	position:relative;
	z-index:4;
	padding:7px 0;
	color:#fff;
	border-top:1px solid rgba(250,250,250, 0.3);
	font-size:14px;
	text-shadow:none;

}

a:active
{
    outline: none;
}
a:focus
{
    -moz-outline-style: none;
}
a:focus { outline:none }

.bg-200 {
    background: #D35400;
    -webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
}

.bg-200 > .active {
    outline: none;
}

.bg-200 > .active > a:hover, .bg-200 > .active > a:focus, .bg-200 > .active > a {
    transition: all 0.13s ease-in-out 0s;
    background: none repeat scroll 0% 0% rgb(230, 126, 34);
    border-top:1px solid rgba(250,250,250, 0.3);
    text-decoration: none;

}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
	background:#fff;
	background-color:none;
	position:relative;
	z-index:4;
	padding:7px 0;
	color:#666;
	border-top:1px solid rgba(250,250,250, 0.3);
	font-size:14px;
	text-shadow:none;
	font-weight:400;
}
.navbar .nav > li > a:last-child{
	border-bottom:1px solid rgba(0,0,0, 0.2);
	padding-bottom:8px;
	font-size:14px;
}

.dropdown-menu > li {
	position:relative;
}

.tree-header {
    color: #000000;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 5px;
}

.tree .link-bg  {
position: absolute;
top: 0;
right: 0%;
width: 0%;
height: 100%;
-moz-transition: all 0.1s ease-in-out;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
background:#E67E22;
}

.tree li:hover .link-bg  {
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;

-moz-transition: all 0.13s ease-in-out;
-webkit-transition: all 0.13s ease-in-out;
transition: all 0.13s ease-in-out;
background:#E67E22;
}

.dropdown-menu > li:hover > .link-bg-dropdown{
position: absolute;
top: 0;
right: 0;
width: 100%;
height: 100%;

-moz-transition: all 0.13s ease-in-out;
-webkit-transition: all 0.13s ease-in-out;
transition: all 0.13s ease-in-out;
background:#E67E22;
}

.dropdown-menu > li .link-bg-dropdown{
position: absolute;
top: 0;
right: 0%;
width: 0%;
height: 100%;
-moz-transition: all 0.13s ease-in-out;
-webkit-transition: all 0.13s ease-in-out;
transition: all 0.13s ease-in-out;
background:#E67E22;
}

.dropdown-submenu > .dropdown-menu {
top: 0;
left: 100%;
margin-top: 0px;
margin-left: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-moz-transition: all 0.1s ease-in-out;
-webkit-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 200px;
padding: 0px 0;
margin: -1px 0 0 4px;
list-style: none;
background-color: #D35400;
border: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}

.dropdown-submenu > a:after {
display: block;
float: right;
width: 0;
height: 0;
margin-top: 5px;
margin-right: 5px;
border-color: transparent;
border-left-color: none;
border-style: solid;
border-width: 5px 0 5px 5px;
content: " ";
}

.navbar .nav > li > .dropdown-menu:before {
position: absolute;
top: -7px;
left: 9px;
display: inline-block;
border-right: 7px solid transparent;
border-bottom: 0px solid #ccc;
border-left: 7px solid transparent;
border-bottom-color: rgba(0, 0, 0, 0.2);
content: '';
}

.navbar .nav > li > .dropdown-menu:after {
position: absolute;
top: -6px;
left: 10px;
display: inline-block;
border-right: 6px solid transparent;
border-bottom: 0px solid #ffffff;
border-left: 6px solid transparent;
content: '';
}

.bg-100{
	position: fixed;
	top: 0;
	bottom: 0;
	left:0px;
	width:283px;
	z-index:3;
	background: #D35400;
	width:283px;
	-webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);
	box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);
	display:inline-block;
}
.navigation p.lead{
	margin-top:20px;
	padding:10px 20px;
	color:#fff;
	text-align:center;
	font-weight:200;
}
.navigation p{
	margin-top:20px;
	padding:10px 20px;
	color:#fff;
	text-align:center;
	
}
.menu-fix-on-scroll.active{
	position:fixed;
	top:0px;
	left:0px;
	display:block;
	padding-top: 10px;
	z-index: 4;
	width: 282px;
}


ul.social-top {
	display: inline-block;
	margin-top: 0px;
	margin-left: 1px;
	padding: 0px;
	padding-left: 0px;
	
	
}
.social-top ul li a{
	text-decoration:none;
}
[class^="fa-icon-"]:before, [class*=" fa-icon-"]:before{
		text-decoration:none;
}
.soc-panel{
	display:block;
	width:100%;
	text-align:center;
	border-top:1px solid rgba(250,250,250, 0.1);
	padding-top:20px;

}
ul.social-top li{
	background: #E67E22;
	border: 1px solid #D35400;
	display: block;
	float: left;
	height: 21px;
	list-style: none;
	margin: 3px 1px 1px;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	padding-top: 3px;
	padding-bottom: 1px;
	text-align: center;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	width: 30px;
}
ul.social-top li:hover{
background: #F39C12;
	border: 1px solid #D35400;
}
ul.social-top li a{
	display:inline-block;
	width:100%;
	height:100%;
	text-align: center;
}
ul.social-top li a:hover{
	color:#fff;
	text-decoration:none;
}


#content{
    margin-left: 283px;
    height: 100%;
    position: relative;
    z-index: 2;
    width: 100%;
}

#container-folio{
	
	/*height:100%;
	min-height:600px;
	display:inline-block;*/
}

.blog-container{
	height:100%;
	min-height:600px;
	display:inline-block;
}
article{
	display:block;
	position:relative;
}

p {
padding-bottom: 10px;
line-height: 24px;
}

a {
text-decoration: none;
color: #fff;
}

/**************************************/





.folio-image-box {
float: left;
width: 25%;
/*min-height:200px;
max-height:200px;*/
color: #fff;
padding:0px;	
margin:0px;
border:none;
display:block;
height:200px;
overflow:hidden;
-moz-box-sizing:border-box;
}

.folio-image-box > a{
	overflow:hidden;
	height:200px;
}

.folio-image-box a > img{
	max-width:auto;
	min-height:100%;
	-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.og-loading omg{
	width:100%;
	height:auto;
}

.folio-image-box:hover {
z-index: 11;
}

.folio-image-box:hover .folio-image-box img {
background: #D35400;
position: absolute;
width: 100%;
height: 100%;
text-shadow: 1px 1px 0 rgba(75,75,75, .7);
text-align: center;
z-index: 10;
left:100%;

}


.folio-image-info {
background:#D35400;
position: absolute;
text-align: center;
width: 100%;
height: 100%;
top: 0px;
left: -100%;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

}

.folio-image-info h3{
	padding-top:20px;
}

.folio-image-info span{
	color:#fff;
	text-decoration:none;
	position:relative;
	
}
.folio-image-info span.plus{
	
	
	width: 40px;
	height: 40px;
	margin-top:10px;
	cursor: pointer;
	background: url(../img/plus.png) 0px 0px;
	display:inline-block;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}

.folio-image-info span.plus:hover{
	
	background: url(../img/plus.png) 0px -40px;
	width: 40px;
	height: 40px;
}

.folio-image-box:hover .folio-image-info {
background: #D35400;
position: absolute;
width: 100%;
height: 100%;
text-shadow: 1px 1px 0 rgba(75,75,75, .7);
text-align: center;
z-index: 10;
left:0%;

}

.folio-image-info .title {

-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
}
.image-info .description {
padding: 11px 40px;
}


/*********************** SINGLE PAGE ************************************/

#content-single{
margin-left: 283px;
height: 100%;
position: relative;
z-index: 2;
display:block;
width:100%;
}


.fixed-img-box {

	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	height:300px;
	max-height:300px;
	background-position: center bottom;
	position:relative;
}

.fixed-img-box .container{
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:1000;
}

.fixed-img-box #map{
	position:absolute;
	left:0px;
	bottom:0px;
	height:300px;
	width:100%;
	z-index:1;
}

.fixed-img-box .container  .title-blog{
	display:inline-block;
	background: #fff;
	padding-right:0px;
	margin: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px -8px 6px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px -8px 6px rgba(50, 50, 50, 0.15);
	box-shadow:         0px -8px 6px rgba(50, 50, 50, 0.15);
	width:100%;
	color:#fff;
}

.fixed-img-box .container  .toleft .adrinner{
	display:inline-block;
	background: #D35400;
	margin: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px -8px 10px rgba(50, 50, 50, 0.31);
	-moz-box-shadow:    0px -8px 10px rgba(50, 50, 50, 0.31);
	box-shadow:         0px -8px 10px rgba(50, 50, 50, 0.31);
	width:100%;
	color:#fff;
	
	min-height:110px;
	
	text-align:left;
	padding:5px 0px;
	
}

.fixed-img-box .container  .toleft .adrinner address{
padding:10px 20px 0px;
font-size:120%;
line-height:24px;
color:#fff;
float:right;
background: #D35400;
}
.relative{
	position:relative;
}
.span8.toleft{
	margin-left:0px;
	padding-top:20px;
	height:100%;
	display:inline-block;
	float:left;
}

.span4.toleft{
	margin-left:0px;
	height:100%;
	
	float:left;
	min-height:152px;
}

.btncontainer{
	position:absolute;
	bottom:0px;
	left:0px;
	width:40px;
}

.backbtn{
	display:inline-block;
	width:44px;
	height:44px;
	text-align:center;
	padding-top:10px;
	color:#fff;
	background:#E67E22;
	border-right:2px solid rgba(250,250,250, 0.1);
	border-bottom:1px solid rgba(250,250,250, 0.2);

-webkit-box-shadow: 4px 0px 2px rgba(50, 50, 50, 0.2) inset;
-moz-box-shadow:    4px 0px 2px rgba(50, 50, 50, 0.2) inset;
box-shadow:         4px 0px 2px rgba(50, 50, 50, 0.2) inset;
	box-sizing:border-box;
	-moz-box-sizing:border-box;


			
}

.backbtn:hover{
			background:#D35400;
			filter: alpha(opacity=100);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
			-moz-opacity: 1;
			-khtml-opacity: 1;
			opacity: 1;
			
}
.backbtn i{
	color:#fff;
}



.title-blog h1 {
	font-size: 46px;
	line-height:48px;
	font-weight:700;
}

.fixed-img-box .container  .title-blog a{
	color:#fff;
	text-decoration:underline;
}

#content-single h1, #content-single h2,#content-single h3, #content-single h4, #content-single h5, #content-single h6, #content-single p.lead{
	color:#4b4b4b;
	padding:10px 20px 10px 50px;
}

#content-single p{
	padding:10px 0px 10px 0px;
	
}
.pad-left{
	padding-left:20px;
	padding-right:20px;
}
#content-single p.regular{
	
	text-align:justify;
}

#content-single p.meta-blog {
	padding:10px 20px 10px 50px;
	background:#E67E22;
	color:#fff;
	margin-bottom:0px;
}
.thumbnail {
	max-width:100%;
	padding:0px;
	margin:0px 0px 30px 0px;
	border:none;

} 
.thumbnail img{
	min-width:100%;
}
.thumbnail a img{
	max-width:100%;
}

.well {
min-height: 20px;
padding: 10px;
margin: 40px 0px;
background-color: #f5f5f5;
border: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow:  0 1px 1px rgba(0, 0, 0, 0.05);
text-shadow: 1px 2px 0px rgba(255, 255, 255, 1);
display:block;
}

#content-single .well h3{
	font-size: 46px;
line-height: 48px;
font-weight: 700;
padding:10px 0px;
margin:0px;
}
#content-single .well{
	padding-left:40px;
	margin-left:-40px;
}
#content-single .media-body p{
	text-align:left;
	padding:0px;
	margin-bottom:5px;
	line-height:19px;
}


.media-list{
	margin-top:40px;
}

.media-list .media {
	margin:25px 0px;
}

li.media a{
	color:rgba(26, 188, 156, 1);
	font-weight:600;
}

#content-single article footer{
	padding-left:20px;
}

/****************************** @MEDIA **********************************/
@media only screen and (max-width: 1570px){
.folio-image-info .title  {
padding: 5px 7px 0;
}
.folio-image-info .description p{
padding: 7px 8px 0;
line-height:16px
}
}

@media only screen and (max-width: 1279px) and (min-width: 768px){
	.folio-image-box{
		width:33.333333333%;
	}
}
@media (min-width: 979px){
	
	.btn-menu{
		height: 0;
		overflow: hidden;
	}
}

@media (max-width: 979px){
	.folio-image-box{
		width:50%;
	}
	body{
		padding:0;
	}
	
	.container {
		width: 100%;
	}

	.btn-menu{
		display:none;
	}
	
	.span8.toleft {
	min-height: auto;
}
	.navbar .nav > li > a{
		color: #fff;
	}
	.nav-collapse .dropdown-menu a {
	padding: 7px 0;
	font-weight: normal;
	color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	}
	.nav-collapse .dropdown-menu a:hover{
		color:#fff;
		background:none;
	}
	
	#content-single{
		margin-left:0px;
	}
	
	#content-single .title-blog h1 {
		font-size:28px;
		line-height:32px;
	}
	
	#content-single h2{
		font-size:24px;
	}
	
	#content-single .well h3 {
		font-size:32px;
		line-height:40px;
	}
	#content-single .media-body p, .media-body {
		text-align: left;
		padding-right: 20px;
		}
		
	#content {
		margin-left: 0px;
		height: 100%;
		position: relative;
		z-index: 2;
        width: 100%;
	}
	.navbar, .navbar .nav  {
		margin-bottom: 0px;
	}
	
	.navbar .btn-navbar{
		float:none;
	}
	
	.navbar .btn-navbar {
		padding: 10px 10px;
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 7px;
		margin-top: 7px;
		color: #fff;
		text-shadow: none;
		background-color: #D35400;
		background-image: none;
		background-image: none;
		background-image: none;
		background-image: none;
		background-image: none;
		background-repeat: no-repeat;
		border-color: none;
		border-color: none;
		filter: none;
		filter: none;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		
	}	
	.navbar .btn-navbar:hover{
			background-color: #F39C12;
	}
	.menu-fix-on-scroll {
		min-width:100%;
		
		background:#E67E22;
		text-align:center;
		display:inline-block;
	}
	.navbar{
		text-align:center;
	}
	.btn-link{
		color:#fff;
		text-transform:uppercase;
		text-shadow:none;
	}
	.btn-menu{
		height: auto !important;
		overflow: visible !important;
	}
	.btn-link:hover{
		text-decoration:none;
		color:#fff;
		color:#ECF0F1;
	}
	.mobile-btn{
		display:inline-block;
		width:auto;
		height:auto;
	}
	.navbar .nav li{
		background:#D35400;
	}
	.folio-image-box{
		width:33.3333%;
	}
	.navigation{
		width:100%;
		min-height:200px;
	}
	
	.dropdown-submenu:hover > a:after {
	border-bottom-color: #ffffff;
	border-left-color: transparent;
	}
	.nav-collapse .dropdown-menu {
		margin: 0px;
	}
	.menu-fix-on-scroll.active{
		position:relative;
	}
	.dropdown-submenu > .dropdown-menu{
		z-index:1030;
	}
	.bg-100 {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		/*height: 283px;*/
        height: 35%;
		z-index: 3;
		background: #D35400;
		z-index: 3;
		-webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
		box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
}

#bg{position:fixed; left:345px; top:0;   width:100%;	height:100%; display:inline-block; }
.container-gal{margin-left:-140px;} /* special IE fix for resized images */
#arrow_indicator{ position:absolute; !important; left:-150px !important; background:url(../../assets/img/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#customScrollBox .container{position:relative; max-width:300px !important; top:0; float:left;}
}


@media (max-width: 767px){
	.folio-image-box{
		width:50%;
	}
	.fixed-img-box .container .toleft .adrinner{
		width:50%;
	}
	.fixed-img-box .container .title-blog {
		width: 95%;
	}
	#content-single .thumbnail{
	padding:20px;
}
#content-single .thumbnail img{
	max-width:100%;
}

#container-folio{
	width:100%;

}
}

@media (max-width: 460px){
	.folio-image-box{
		width:100%;
	}

}

.folio-image-info h2 {
font-size: 18px;
font-weight: 700;
margin-bottom: 2px;
line-height:20px;
}



.image-link {
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
text-indent: -9999px;
}

/************************************* buttons *****************************************/
	.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #D35400; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }




/************************* AUTHOR *************************************/
.author-side{

padding: 22px 20px;
width: 100%;
display:inline-block;

}

.author-side a{

}

.author-side a h6{
	padding-top:2px;
	margin:0px;
}

.author-side-in{
	width:30%;
	display:inline-block;
	float:left;
	text-align:center;
}
.author-side-in-text{
		width:70%;
	display:inline-block;
	float:left;
}
#content-single .author-side-in-text h3,
#content-single .author-side-in-text h4,
#content-single .author-side-in-text h5,
#content-single .author-side-in-text h6{
	color: #1ABC9C;
	padding-left:20px;
	padding-right:0px;
	margin-right:20px;
	padding-bottom:10px;
	border-bottom:1px solid #dfdfdf;
}
#content-single .author-side-in-text p{
	padding:0px 20px 20px 20px;
}
.author-thumb{
	border: 3px solid white;
	display: block;
	height: 84px;
	margin: 0 auto;
	width: 84px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow:hidden;
	
	-webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 0px 0 4px rgba(0,0,0,0.15);
-moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 0px 0 4px rgba(0,0,0,0.15);
box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 0px 0 4px rgba(0,0,0,0.15);

}

.author-action{

padding: 20px 0px 12px;
}





/***************************** SIDEWAYS *******************************/

#bg{position:fixed; left:545px; top:0;   width:100%;	height:100%; display:inline-block; }
#bgimg{display:none; cursor:pointer; -ms-interpolation-mode: bicubic;  } /* special IE fix for resized images */
#preloader{position:absolute; z-index:2; width:140px; padding:20px; top:50%; left:40%; background:#000; color:#666; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:16px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#preloader img{margin-right:20px;}
#toolbar{display:inline-block; padding:4px 15px; margin:20px 15px; background:#262626 url(../../assets/img/sw_btn_bg.png) repeat; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:12px; color:#fff; cursor:pointer;
-webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.51);
-moz-box-shadow:    4px 4px 8px rgba(0, 0, 0, 0.51);
box-shadow:         4px 4px 8px rgba(0, 0, 0, 0.51);

}
#outer_container{position:relative; margin:0; width:700px; padding:0 100px 0 0; z-index:2; background:url(../../assets/img/empty.gif);} /* fucking IE needs a background value to understand hover area */
#customScrollBox{position:relative; overflow:hidden; background:rgba(0,0,0, 0.5);}
#customScrollBox .container{position:relative; width:585px; top:0; float:left;}
#customScrollBox .content{clear:both;}
#customScrollBox .content h1{padding:5px; margin:10px; color:#fff; font-family:eurof55-webfont, Helvetica, Arial, sans-serif; font-size:48px;}
#customScrollBox .content h2{padding:5px; margin:10px 10px 0 10px; color:#fff; font-family:eurof35-webfont, Helvetica, Arial, sans-serif; font-size:24px;}
#customScrollBox .content p{padding:5px; margin:0 10px 10px 10px; color:#ddd; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; line-height:26px;}
.light{font-family:eurof35-webfont, Helvetica, Arial, sans-serif;}
.grey{color:#999;}
.lightgrey{color:#ddd;}
.s36{font-size:36px;}
.s24{font-size:24px;}
#customScrollBox a.thumb_link{position:relative; margin:0 0 1px 1px; display:block; float:left;}
#customScrollBox img{border:none;}
#customScrollBox a.thumb_link .selected{position:absolute; top:0; left:0; width:145px; height:91px; background:url(../../assets/img/sw_thumb_selected.png) no-repeat; display:none;}

/*
#dragger_container{position:relative; width:2px; height:580px; float:left; margin:67px 0 0 20px; border-left: 1px solid rgba(50,50,50, 0.3);
border-right: 1px solid rgba(0,0,0, 0.9); /*background: #D35400;/*url(../../assets/img/sw_dragger_bg.png) repeat-y center;}
#dragger{position:absolute; width:30px; height:59px; background:url(../../assets/img/round_custom_scrollbar_bg.png) no-repeat center center; cursor:pointer;}*/

#dragger_container{position:relative; width:7px; height:620px; float:left; margin:10px 0 0px 20px;  background:   rgba(250,250,250, 0.5);}
#dragger{position:absolute; width:7px; height:100px; background:#D35400; cursor:pointer;}

#arrow_indicator{position:absolute; z-index:1; width:50px; padding:10px; top:25%; margin-top:-25px; left:130px; background:url(../../assets/img/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none;}
#nextimage_tip{position:fixed; z-index:1; padding:0 20px; line-height:40px; color:#fff; height:40px; top:50%; right:40px; background:url(../../assets/img/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif;}
.with_border{border:1px solid #000;}
.with_shadow{-moz-box-shadow:0 0 40px #000; -webkit-box-shadow:0 0 40px #000; box-shadow:0 0 40px #000;}
.container-gal{
	width:100%;
	max-height:100%;
	display:inline-block;
	background:#2b2b2b;
}
.gallery-container{
	background:#2b2b2b;
}

