body{
    position: relative; /* For scrollyspy */
    padding:0;
}

#content {
    margin-left: 278px;
    padding-right: 4%;
}

.container {
    width: 100%;
    margin-top: 3%;
    margin-left: 3%;
}

.bg-200 > li > a {
    color: #ffffff;
    background: none repeat scroll 0% 0% rgb(230, 126, 34);
    -webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
}
.bg-200 > li > a:active {
    outline: none;
    transition: all 0.13s ease-in-out 0s;
    background: none repeat scroll 0% 0% rgb(230, 126, 34);
    border-top:1px solid rgba(250,250,250, 0.3);
    text-decoration: none;
}
.bg-200 > li > a:focus, .bg-200 > li > a:hover {
    outline: none;
    transition: all 0.13s ease-in-out 0s;
    background: none repeat scroll 0% 0% rgb(230, 126, 34);
    border-top:1px solid rgba(250,250,250, 0.3);
    text-decoration: none;
}

.logo{
    display:inline-block;
    padding:10px 0px;
    text-align:center;
    min-width:100%;
    text-transform:uppercase;
    font-size:26px;
    font-weight:600;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    background-color: #D35400;
    outline: none;
}

.logo:hover{
    color:#E67E22;
    text-decoration:none;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5), -1px -1px 0px rgba(0, 0, 0, 1);
}

.icon-bar {
    background: #ffffff;
    margin-left: 5%;
}

.navbar {
    background: #D35400;
    background-image: none;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 0px rgba(0, 0, 0, 0.075);
}
.navbar .nav{
    width:100%;
    margin-bottom:30px;

}
.navbar .nav li{
    position:relative;
    text-align:center;
    font-size:14px;
    text-transform:uppercase;

    float:none;
    width:100%;
}

.menu-item {
    margin-top: 20px;
}

.menu-item > li >div {
    background-color: transparent;
}

.main-wrapper .nav.navbar-collapse.collapse {
    /*background: #D35400;*/
    /*-webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);*/
    /*-moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);*/
    /*box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.15);*/
}

.menu-item > li > ul {
    list-style:none;
}

.tab-content {
    margin-top: 3%;
}

/*.menu-item > li >a {*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: rgb(66, 139, 202);*/
    /*border-radius: 5px 5px 5px 5px;*/
/*}*/
/*.menu-item > li >a:hover {*/
    /*background-color: rgb(42, 100, 150);*/
/*}*/
/*.menu-item > li >a:focus {*/
    /*background-color: rgb(42, 100, 150);*/
    /*outline: none;*/
/*}*/
/*.menu-item > li >a:active {*/
    /*background-color: rgb(42, 100, 150);*/
    /*outline: none;*/
/*}*/

/*li.tree > a {*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: rgb(66, 139, 202);*/
    /*border-radius: 5px 5px 5px 5px;*/
    /*float: left;*/
    /*margin: 15 15 15 15;*/
/*}*/

/*ul.tree > li > a {*/
    /*position: relative;*/
    /*top: 0;*/
    /*right: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*float: right;*/
    /*display: inline-block;*/
    /*padding-bottom: 5px;*/
    /*padding-top: 5px;*/
    /*margin: 5px 5px 5px 0px;*/
    /*text-decoration: none;*/
    /*color: rgb(255, 255, 255);*/

    /*-moz-transition: all 0.13s ease-in-out;*/
    /*-webkit-transition: all 0.13s ease-in-out;*/
    /*transition: all 0.13s ease-in-out;*/

    /*background-color: #D35400;*/
    /*border-color: #000000;*/
    /*border-radius: 5px 5px 5px 5px;*/
/*}*/

/*ul.tree > li >a:hover {*/
    /*background:#E67E22;*/
/*}*/
/*ul.tree > li >a:focus {*/
    /*background:#E67E22;*/
    /*outline: none;*/
/*}*/
/*ul.tree > li >a:active {*/
    /*background:#E67E22;*/
    /*outline: none;*/
/*}*/

.container{
    max-width:1064px;
    max-width:100%;

}

.navigation{
    float: left;
    position: relative;
    padding-top: 10px;
    z-index: 4;
    width:282px;
    display:inline-block;
    min-height:100%;
    height:100%;
}

#content{
    margin-left: 283px;
    /*height: 100%;*/
    /*position: relative;*/
    /*z-index: 2;*/
    /*width: 100%;*/
}
.wrapper{
    width:100%;
    float:left;
}

.main-wrapper{
    height: auto;
    min-height: 100%;
    position: relative;
    max-width:1650px;
    /*overflow:hidden;*/
    height:100%;
}

.menu-fix-on-scroll {
    min-width:100%;

    background:#E67E22;
    text-align:center;
    display:inline-block;
}

.bg-100{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0px;
    width:283px;
    background: #D35400;
    width:283px;

    display:inline-block;
}

/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: rgb(66, 139, 202);*/
/*}*/
/*.nav > li > a:hover, .nav > li > a:focus {*/
    /*text-decoration: none;*/
    /*background-color: rgb(238, 238, 238);*/
/*}*/
/*.nav-pills > li > a {*/
    /*border-radius: 5px 5px 5px 5px;*/
/*}*/
/*.nav > li > a {*/
    /*position: relative;*/
    /*display: block;*/
    /*padding: 10px 15px;*/
/*}*/
/*a:focus {*/
    /*outline: thin dotted rgb(51, 51, 51);*/
    /*outline-offset: -2px;*/
/*}*/
/*a:hover, a:focus {*/
    /*color: rgb(42, 100, 150);*/
    /*text-decoration: underline;*/
/*}*/

/****************************** @MEDIA **********************************/


@media (max-width: 668px){
    body{
        padding:0;
    }

    .container {
        width: 100%;
    }

    #content {
        margin-left: 0px;
        height: 100%;
        position: relative;
        z-index: 2;
        width: 100%;
    }
}


@media (max-width: 768px){

    body{
        padding:0;
    }

    .container {
        width: 100%;
    }

    .btn-menu{
        display:none;
    }

    .span8.toleft {
        min-height: auto;
    }
    .navbar .nav > li > a{
        color: #fff;
    }
    .nav-collapse .dropdown-menu a {
        padding: 7px 0;
        font-weight: normal;
        color: #fff;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .nav-collapse .dropdown-menu a:hover{
        color:#fff;
        background:none;
    }

    #content-single{
        margin-left:0px;
    }

    #content-single .title-blog h1 {
        font-size:28px;
        line-height:32px;
    }

    #content-single h2{
        font-size:24px;
    }

    #content-single .well h3 {
        font-size:32px;
        line-height:40px;
    }
    #content-single .media-body p, .media-body {
        text-align: left;
        padding-right: 20px;
    }

    #content {
        margin-left: 0px;
        height: 100%;
        position: relative;
        z-index: 2;
        width: 100%;
    }
    .navbar, .navbar .nav  {
        margin-bottom: 0px;
    }

    .navbar .btn-navbar{
        float:none;
    }

    .navbar .btn-navbar {
        padding: 10px 10px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 7px;
        margin-top: 7px;
        color: #fff;
        text-shadow: none;
        background-color: #D35400;
        background-image: none;
        background-image: none;
        background-image: none;
        background-image: none;
        background-image: none;
        background-repeat: no-repeat;
        border-color: none;
        border-color: none;
        filter: none;
        filter: none;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);

    }
    .navbar .btn-navbar:hover{
        background-color: #F39C12;
    }
    .menu-fix-on-scroll {
        min-width:100%;

        background:#E67E22;
        text-align:center;
        display:inline-block;
    }
    .navbar{
        text-align:center;
    }
    .btn-link{
        color:#fff;
        text-transform:uppercase;
        text-shadow:none;
    }
    .btn-menu{
        height: auto !important;
        overflow: visible !important;
    }
    .btn-link:hover{
        text-decoration:none;
        color:#fff;
        color:#ECF0F1;
    }

    .navbar .nav li{
        background:#D35400;
    }

    .navbar-toggle{
        display:inline-block;
        width:auto;
        height:auto;
    }

    .navigation{
        width:100%;
        min-height:100px;
    }
    div.nav.navbar-collapse.in {
        padding-bottom: 20px;
    }

    div.bg-100 {
        width: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .dropdown-submenu:hover > a:after {
        border-bottom-color: #ffffff;
        border-left-color: transparent;
    }
    .nav-collapse .dropdown-menu {
        margin: 0px;
    }
    .menu-fix-on-scroll.active{
        position:relative;
    }
    .dropdown-submenu > .dropdown-menu{
        z-index:1030;
    }
    .bg-100 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /*height: 283px;*/
        height: 35%;
        z-index: 3;
        background: #D35400;
        z-index: 3;
        -webkit-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 73px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0,0,0,0.5);
    }

    #bg{position:fixed; left:345px; top:0;   width:100%;	height:100%; display:inline-block; }
    .container-gal{margin-left:-140px;} /* special IE fix for resized images */
    #arrow_indicator{ position:absolute; !important; left:-150px !important; background:url(../../assets/img/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
    #customScrollBox .container{position:relative; max-width:300px !important; top:0; float:left;}
}


/*@media (max-width: 799px){*/

    /*#content-single .thumbnail{*/
        /*padding:20px;*/
    /*}*/
    /*#content-single .thumbnail img{*/
        /*max-width:100%;*/
    /*}*/

    /*#container{*/
        /*width:100%;*/

    /*}*/
/*}*/

.image-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
}

/************************************* buttons *****************************************/

ul.tree > li > a.btn {
    margin: 5px;
    color: #ffffff;
}
.tree-toggler.btn {
    margin: 5px;
    color: #ffffff;
}

/*.btn {*/
    /*border: none;*/
    /*background: #34495e;*/
    /*color: white;*/
    /*font-size: 16.5px;*/
    /*text-decoration: none;*/
    /*text-shadow: none;*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none;*/
    /*-webkit-transition: 0.25s;*/
    /*-moz-transition: 0.25s;*/
    /*-o-transition: 0.25s;*/
    /*transition: 0.25s;*/
    /*-webkit-backface-visibility: hidden; }*/
/*.btn:hover, .btn:focus {*/
    /*background-color: #4e6d8d;*/
    /*color: white;*/
    /*-webkit-transition: 0.25s;*/
    /*-moz-transition: 0.25s;*/
    /*-o-transition: 0.25s;*/
    /*transition: 0.25s;*/
    /*-webkit-backface-visibility: hidden; }*/
/*.btn:active, .btn.active {*/
    /*background-color: #2c3e50;*/
    /*color: rgba(255, 255, 255, 0.75);*/
    /*-webkit-box-shadow: none;*/
    /*-moz-box-shadow: none;*/
    /*box-shadow: none; }*/
/*.btn.disabled, .btn[disabled] {*/
    /*background-color: #95a5a6;*/
    /*color: white; }*/
/*.btn.btn-large {*/
    /*padding-bottom: 12px;*/
    /*padding-top: 13px; }*/
/*.btn.btn-primary {*/
    /*background-color: #1abc9c; }*/
/*.btn.btn-primary:hover, .btn.btn-primary:focus {*/
    /*background-color: #2fe2bf; }*/
/*.btn.btn-primary:active, .btn.btn-primary.active {*/
    /*background-color: #16a085; }*/
/*.btn.btn-info {*/
    /*background-color: #3498db; }*/
/*.btn.btn-info:hover, .btn.btn-info:focus {*/
    /*background-color: #5dade2; }*/
/*.btn.btn-info:active, .btn.btn-info.active {*/
    /*background-color: #2383c4; }*/
/*.btn.btn-danger {*/
    /*background-color: #e74c3c; }*/
/*.btn.btn-danger:hover, .btn.btn-danger:focus {*/
    /*background-color: #ec7063; }*/
/*.btn.btn-danger:active, .btn.btn-danger.active {*/
    /*background-color: #dc2d1b; }*/
/*.btn.btn-success {*/
    /*background-color: #2ecc71; }*/
/*.btn.btn-success:hover, .btn.btn-success:focus {*/
    /*background-color: #55d98d; }*/
/*.btn.btn-success:active, .btn.btn-success.active {*/
    /*background-color: #27ad60; }*/
/*.btn.btn-warning {*/
    /*background-color: #D35400; }*/
/*.btn.btn-warning:hover, .btn.btn-warning:focus {*/
    /*background-color: #f4d03f; }*/
/*.btn.btn-warning:active, .btn.btn-warning.active {*/
    /*background-color: #cea70c; }*/
/*.btn-toolbar .btn {*/
    /*font-size: 18px;*/
    /*padding: 10px 14px 9px; }*/
/*.btn-toolbar .btn:first-child {*/
    /*-webkit-border-radius: 6px 0 0 6px;*/
    /*-moz-border-radius: 6px 0 0 6px;*/
    /*border-radius: 6px 0 0 6px; }*/
/*.btn-toolbar .btn:last-child {*/
    /*-webkit-border-radius: 0 6px 6px 0;*/
    /*-moz-border-radius: 0 6px 6px 0;*/
    /*border-radius: 0 6px 6px 0; }*/

/*.btn-toolbar .btn.active {*/
    /*color: white; }*/

