<div class="html_container">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs bg-200">
            <li class="active"><a href="#tab1" data-toggle="tab"><script>PageTopMenu.general_settings.options[0].title</script></a></li>
            <li><a href="#tab2" data-toggle="tab"><script>PageTopMenu.general_settings.options[1].title</script></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <p>I'm in Section 1.</p>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Howdy, I'm in Section 2.</p>
            </div>
        </div>
    </div>
</div>